body {
	font-family: Tahoma,Arial,sans-serif;
	background: #888;
	color: #000;
}
header,
nav,
body > div {
	background: #fff;
	box-shadow: 0px 0px 4px #000;
	border: 1px solid #efefef;
	padding: 0 1em;
	margin: 1em auto;
}
header {
	background: linear-gradient(45deg, #8ff 0%, #eff 30%, #fef 70%, #fce 100%);
}
nav,
header {
	text-align: center;
}
nav,
body > div {
	max-width: 60em;
}
pre {
	border: 2px solid #cdcdcd;
	background: #f7f7f7;
	padding: .2em .5em;
	overflow-x: auto;
}
.func > pre,
.struc > ul > li > pre {
	background: #fef;
	border: 1px solid #f6f;
}
.struc > ul > li > pre {
	white-space: pre-wrap;
	margin: .5em 0;
}
.struc > pre {
	background: #eef;
	border: 1px solid #66f;
}
pre h3 {
	display: inline;
	font-size: 1em;
	font-weight: bold;
}
.func i,
.struc i {
	font-style: normal;
	font-size: 80%;
	color: #777;
}
.struc em {
	font-style: normal;
	background: #fca;
	border: 1px solid #f94;
	font-size: 80%;
	border-radius: 6px;
	color: #000;
}
/*reference to unknown struct*/
.func pre strong,
.struc pre strong {
	background: #f00;
	color: #fff;
}
/*doccomment*/
.struc span {
	color: #080;
	display: inline-block;
	margin-left: 5em; /*why 5 and not 8?*/
	/*so doccomments on their own don't cause scrollbars*/
	white-space: pre-wrap;
}
